<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_time %><br />
    <%= f.datetime_select :game_time %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_area :location, :rows => 6 %>
  </div>
  <div class="field">
    <%= f.label :polling_cutoff %><br />
    <%= f.datetime_select :polling_cutoff %>
  </div>
  <div class="field">
    <%= f.label :min_players %><br />
    <%= f.text_field :min_players %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
