<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_time %><br />
    <%= f.datetime_select :game_time %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :rows => 3 %>
  </div>
  <div class="field">
    <%= f.label 'Link to map' %><br />
    <%= f.text_field :map_link %>
  </div>
  <div class="field">
    <%= f.label :polling_cutoff %><br />
    <%= f.datetime_select :polling_cutoff %>
  </div>
  <div class="field">
    <%= f.label "Minimum Players" %><%= f.text_field :min_players, :size => 3 %>
  </div>
  <div class="field">
    <%= label_tag :first_comment, "Comment" %>
    <%= text_area_tag :first_comment, '', :rows=>3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
