          <p id='numPlayers'><%= pluralize @game.yesses.count, "Player" %></p>
          <p id='gameStatus'><%= @game.game_status %></p>
          <p id='pollingStatus'><%= @game.polling_status %></p>
          <% if user_signed_in? and @game.polling_cutoff.future? and @rsvp %>
          <div id="yourResponse">
            <p>Your current response is:<br>
            <span id='current_response'><%= current_user.get_rsvp_response(@game.id) %></span></p>
            <div>
              <img src="/images/loading.gif" alt="" class="loading-indicator" />
              <%= button_to "I'm Playing", {:controller => 'rsvps', :action => 'update', :id=>@rsvp.id, :rsvp =>{:resp=>'Y'}}, {:method=>:put, :remote=>true} %>
              <%= button_to "I'm Not Playing", {:controller => 'rsvps', :action => 'update', :id=>@rsvp.id, :rsvp => {:resp=>'N'}}, {:method=>:put, :remote=>true} %>
            </div>
          </div>
          <% end %>
