        <h2><%= game.game_time.to_s(:game_time_long) %></h2>
        <% if user_signed_in? %>
        <div>
          <%= button_to "Edit Game", edit_game_path(@game), :method => :get %>
          <%= button_to 'Delete Game', @game, :confirm => 'Are you sure you want to delete this game?', :method => :delete %>
        </div>
        <% end %>
        <div></div>
        <p>
          <strong><%= game.location %></strong>
          <br><%= sanitize(game.address) %>
          <br><a id='fieldMap' href="#">view map</a>
        </p>
