        <h2><%= game.game_time.to_s(:game_time_long) %></h2>
        <% if user_signed_in? and current_user.admin %>
        <div>
          <%= button_to "Edit Game", edit_game_path(@game), :method => :get, :class=>'edit' %>
          <%= button_to 'Delete Game', @game, :confirm => 'Are you sure you want to delete this game?', :method => :delete, :class=>'delete' %>
          <%= button_to "Email Players", new_email_to_players_path(@game), :remote=>true, :method => :get, :class=>'email-button' %>
        </div>
        <% end %>
        <div></div>
        <p>
          <strong><%= game.location %></strong>
          <br><%= game.address.html_safe %>
          <% if game.map_link != '' %>
          <br><a id='fieldMap' href="<%= game.map_link %>" target='_blank'>view map</a>
          <% end %>
        </p>
