      <div id="nextGame">

        <div id="gameInfo">
          <h1>Upcoming Game</h1>
          <%= render @game %>
        </div>
        
        <div id="comments">
          
          <div id="commentList">
            <% if @game.comments.count > 0 %>        
              <%= render @game.comments %>
            <% end %>
          </div><!-- #commentList -->
          
          <% if user_signed_in? %>
            <% @comment = Comment.new(:user_id=>current_user.id, :game_id => @game.id) %>
            <%= render :partial => 'comments/form' %>
          <% end %>
        
        </div><!-- #comments -->
      </div><!-- #nextGame -->
      
      <div id="summary_column">
        <div id="summary" class="game-<%= @game.game_status_simple %>">
          <%= render( :partial => 'game_summary') %>
        </div><!-- #summary -->
                
        <div id="responses">
          <%= render( :partial => 'response_list') %>
        </div><!-- #responses -->
      </div><!-- #summary_column -->
      <div class="clear"></div>
