      <div id="nextGame">

        <div id="gameInfo">
          <h1>Upcoming Game</h1>
          <%= render @game %>
        </div>
        
        <div id="comments">
          
          <div id="commentList">
            <% if @game.comments.count > 0 %>        
              <%= render @game.comments %>
            <% end %>
          </div><!-- #commentList -->
          
          <% if user_signed_in? %>
            <% @comment = Comment.new(:user_id=>current_user.id, :game_id => @game.id) %>
            <%= render :partial => 'comments/form' %>
          <% end %>
        
        </div><!-- #comments -->
      </div><!-- #nextGame -->
      
      <div id="responses">
      
        <div id="summary" class="<%= @summary_class %>">
          <p id='numPlayers'><%= @yesses.count %> Players</p>
          <p id='gameStatus'><%= @game_status %></p>
          <p id='pollingStatus'><%= @polling_status %></p>
          <% if user_signed_in? and @game.polling_cutoff.future? and @rsvp %>
          <div id="yourResponse">
            <div>
              <%= button_to "I'm Playing", {:controller => 'rsvps', :action => 'update', :id=>@rsvp.id, :rsvp =>{:resp=>'Y'}}, {:method=>:put} %>
              <%= button_to "I'm Not Playing", {:controller => 'rsvps', :action => 'update', :id=>@rsvp.id, :rsvp => {:resp=>'N'}}, {:method=>:put} %>
            </div>
            <p>Your current response is: <%= @current_user_reply %></p>
          </div>
          <% end %>
        </div>
                
        <dl id="yesses">
          <dt>Playing</dt>
          <% if @yesses.count > 0 %>
            <% @yesses.each do |rsvp| %>
            <dd><%= rsvp.user.fname.capitalize + ' ' + rsvp.user.lname.capitalize %></dd>
            <% end %>
          <% else %>
          <dd>No replies yet.</dd>
          <% end %>
        </dl>
        
        <dl id="nos">
          <dt>Not Playing</dt>
          <% if @nos.count > 0 %>
            <% @nos.each do |rsvp| %>
            <dd><%= rsvp.user.fname.capitalize + ' ' + rsvp.user.lname.capitalize %></dd>
            <% end %>
          <% else %>
          <dd>No replies yet.</dd>
          <% end %>
        </dl>
        
        <dl id="undecided">
          <dt>Undecided</dt>
          <% if @undecided.count > 0 %>
            <% @undecided.each do |rsvp| %>
            <dd><%= rsvp.user.fname.capitalize + ' ' + rsvp.user.lname.capitalize %></dd>
            <% end %>
          <% end %>
        </dl>
        
      </div><!-- #responses -->
      <div class="clear"></div>
