      <div id="nextGame">

        <h1><%= @game_title %></h1>
        <%= render @game %>
        
        <div id="comments">
        
          <% if @game.comments.count > 0 %>        
            <%= render @game.comments %>
          <% end %>
          
          <% if user_signed_in? %>
          <form id="commentForm">
            <label>Leave a Comment:</label>
            <textarea rows="5" cols="40"></textarea>
            <br><input id='submitComment' name='submitComment' type="submit" value="Post Comment" />
          </form>
          <% end %>
        
        </div><!-- #comments -->
      </div><!-- #nextGame -->
      
      <div id="responses">
      
        <div id="summary" class="<%= @summary_class %>">
          <p id='numPlayers'><%= @yesses.count %> Players</p>
          <p id='gameStatus'><%= @game_status %></p>
          <p id='pollingStatus'><%= @polling_status %></p>
          <% if user_signed_in? and @game.polling_cutoff.future? and @rsvp %>
          <div id="yourResponse">
            <p>Your response is: <%= @current_user_reply %></p>
            <p>
              Change your reply
              <%= button_to "I'm Playing", {:controller => 'rsvps', :action => 'update', :id=>@rsvp.id, :rsvp =>{:resp=>'Y'}}, {:method=>:put} %>
              <%= button_to "I'm Not Playing", {:controller => 'rsvps', :action => 'update', :id=>@rsvp.id, :rsvp => {:resp=>'N'}}, {:method=>:put} %>
            </p>
          </div>
          <% end %>
        </div>
                
        <dl id="yesses">
          <dt>Playing</dt>
          <% if @yesses.count > 0 %>
            <% @yesses.each do |rsvp| %>
            <dd><%= rsvp.user.fname.capitalize + ' ' + rsvp.user.lname.capitalize %></dd>
            <% end %>
          <% else %>
          <dd>No replies yet.</dd>
          <% end %>
        </dl>
        
        <dl id="nos">
          <dt>Not Playing</dt>
          <% if @nos.count > 0 %>
            <% @nos.each do |rsvp| %>
            <dd><%= rsvp.user.fname.capitalize + ' ' + rsvp.user.lname.capitalize %></dd>
            <% end %>
          <% else %>
          <dd>No replies yet.</dd>
          <% end %>
        </dl>
        
        <dl id="undecided">
          <dt>Undecided</dt>
          <% if @undecided.count > 0 %>
            <% @undecided.each do |rsvp| %>
            <dd><%= rsvp.user.fname.capitalize + ' ' + rsvp.user.lname.capitalize %></dd>
            <% end %>
          <% end %>
        </dl>
        
      </div><!-- #responses -->
      <div class="clear"></div>
