<!DOCTYPE html>
<html>
	<head>
		<title>Frisbot 3000</title>
		<meta charset="utf-8">
    <%= stylesheet_link_tag "frisbot", :media => "all" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
	</head>
	<body>
    <div id="header">
      <p id="siteTitle"><%= link_to 'Frisbot 3000', '/' %></p>
      <ul id="userMenu">
        <li>
          <a href="#">More Games</a>
          <ul>
          <% @games.each do |game| %>
            <li><%= link_to game.game_time.to_s(:game_month_day) + ' - ' + game.location, game %></li>
          <% end %>
          </ul>
        </li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    
    <div id="content">

    <%= yield %>

    </div><!-- #content -->
    
    <div id="footer">
      <p>Frisbot 3000 Loves you!</p>
    </div>

	</body>
</html>
