<!DOCTYPE html>
<html>
	<head>
		<title>Frisbot 3000</title>
		<meta charset="utf-8">
    <%= stylesheet_link_tag "frisbot", :media => "all" %>
    <%= javascript_include_tag "jquery", "jquery.simplemodal", "application" %>
    <%= csrf_meta_tag %>
	</head>
	<body>
    <div id="header">
      <p id="siteTitle"><%= link_to 'Frisbot 3000', '/' %></p>
      <p id='welcome'>
        &nbsp;
        <% if user_signed_in? %>
        Signed in as <%= current_user.email %>.
        Not you? <%= link_to "Log out", destroy_user_session_path %>
        <% end %>
      </p>
      <ul id="userMenu">
        <li>
          <%= link_to "Games", '/' %>
          <ul>
          <% @games.each do |game| %>
            <li><%= link_to game.game_time.to_s(:game_month_day) + ' - ' + game.location, game %></li>
          <% end %>
          <% if user_signed_in? and current_user.admin %>
            <li><%= link_to "New Game", new_game_path %></li>
          <% end %>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li><%= link_to "Log Out", destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
        <li><a href="#">Help</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    
    <div id="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

    </div><!-- #content -->
    
    <div id="footer">
      <p>Frisbot 3000 loves you!</p>
    </div>

	</body>
</html>
